{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link href="{% static 'core/css/style.css' %}" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="{% static 'core/img/rayo.png' %}" width="100px" height="50px" alt="" />
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Inicio <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'producto' 'ins' 1 %}">Producto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'nosotros' %}">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'registrar' %}">Registrar</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'ingresar' %}">Ingresar <span class="sr-only"></span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'api' %}">API <span class="sr-only"></span></a>
            </li>
            </ul>
        </div>
    </nav>

    <br><br>

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="{% static 'core/img/carru1.jpg' %}" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'core/img/carru2.jpg' %}" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'core/img/carru3.jpg' %}" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <br><br>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <figure>
                    <a href="producto1.html">
                        <img class="producto" src="{% static 'core/img/autos-deportivo.jpg' %}" height="250px" width="350px" alt="">
                    </a>
                </figure>
                <br>
                <h6>DISPONIBLE</h6>
                <h4>Cambio de aceite</h4>
                <h4>$20.000</h4>
                <button class="btn btn-success" onclick="mostrar1();">Ver Detalles de servicio</button>
                <div id="servicio1">
                    <button class="btn btn-danger" onclick="ocultar1();">Ocultar Detalles de servicio</button>
                    <h5>Reemplazo del aceite de su auto, es simplemente el proceso de retirar el aceite usado y el filtro de aceite y de colocar aceite nuevo (y un nuevo filtro) en el auto.</h5>
                    <br>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <figure>
                    <a href="producto2.html">
                        <img class="producto" src="{% static 'core/img/Bugatti Chiron.jpg' %}" height="250px" width="350px" alt="">
                    </a>
                </figure>
                <br>
                <h6>DISPONIBLE</h6>
                <h4>Ajuste de dirección</h4>
                <h4>$10.490</h4>
                <button class="btn btn-success" onclick="mostrar2();">Ver Detalles de servicio</button>
                <div id="servicio2">
                    <button class="btn btn-danger" onclick="ocultar2();">Ocultar Detalles de servicio</button>
                    <h5>Procedimiento sencillo que se ejecuta para ajustar los ángulos y dirección de las llantas.</h5>
                    <br>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <figure>
                    <a href="producto3.html">
                        <img class="producto" src="{% static 'core/img/camaro.jpg' %}" height="250px" width="350px" alt="">
                    </a>
                </figure>
                <br>
                <h6>DISPONIBLE</h6>
                <h4>Mantención de frenos</h4>
                <h4>$24.000</h4>
                <button class="btn btn-success" onclick="mostrar3();">Ver Detalles de servicio</button>
                <div id="servicio3">
                    <button class="btn btn-danger" onclick="ocultar3();">Ocultar Detalles de servicio</button>
                    <h5>El mantenimiento de los frenos es de suma importancia porque ayuda a incrementar la perdurabilidad y rendimiento del auto, además de que contribuye a evitar accidentes y colisiones.</h5>
                    <br>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <figure>
                    <a href="producto4.html">
                        <img class="producto" src="{% static 'core/img/mazda-mx-5.jpg' %}" height="250px" width="350px" alt="">
                    </a>
                </figure>
                <br>
                <h6>DISPONIBLE</h6>
                <h4>Cambio de bujías</h4>
                <h4>$10.000</h4>
                <button class="btn btn-success" onclick="mostrar4();">Ver Detalles de servicio</button>
                <div id="servicio4">
                    <button class="btn btn-danger" onclick="ocultar4();">Ocultar Detalles de servicio</button>
                    <h5>El cambio regular de bujías ofrece numerosos beneficios, como un mejor rendimiento del motor, mayor eficiencia de combustible, arranques más rápidos y suaves, y reducción de emisiones contaminantes.</h5>
                    <br>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <figure>
                    <a href="producto5.html">
                        <img class="producto" src="{% static 'core/img/mustang.jpg' %}" height="250px" width="350px" alt="">
                    </a>
                </figure>
                <br>
                <h6>DISPONIBLE</h6>
                <h4>Revisión técnica</h4>
                <h4>$19.650</h4>
                <button class="btn btn-success" onclick="mostrar5();">Ver Detalles de servicio</button>
                <div id="servicio5">
                    <button class="btn btn-danger" onclick="ocultar5();">Ocultar Detalles de servicio</button>
                    <h5>La revisión técnica es el control periódico a automóviles para verificar su buen funcionamiento, con el objetivo de evitar accidentes y reducir las emisiones contaminantes a la atmósfera

.</h5>
                    <br>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                <figure>
                    <a href="producto6.html">
                        <img class="producto" src="{% static 'core/img/toyota_GR86.jpg' %}" height="250px" width="350px" alt="">
                    </a>
                </figure>
                <br>
                <h6>No disponible</h6>
                <h4>Vulcanización y cambio de rueda</h4>
                <h4>$20.000</h4>
                <button class="btn btn-success" onclick="mostrar6();">Ver Detalles de servicio</button>
                <div id="servicio6">
                    <button class="btn btn-danger" onclick="ocultar6();">Ocultar Detalles de servicio</button>
                    <h5>La vulcanización es un proceso mediante el cual tiene el fin de volverlo más duro y resistente al frío y viene incluido el cambio del neumático.</h5>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="{% static 'core/js/script.js' %}"></script>

    <footer class="footer bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4>Dirección</h4>
                    <p>123 Calle Principal, Ciudad, País</p>
                </div>
                <div class="col-md-6">
                    <h4>Contacto</h4>
                    <p>Teléfono: +1 234 5678</p>
                    <p>Email: info@example.com</p>
                    <p>Horario: Lunes a Viernes, 9:00 AM - 5:00 PM</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>