{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar</title>

    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="{% static 'core/img/rayo.png' %}" width="100px" height="50px" alt="Logo" />
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'nosotros' %}">Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'registrar' %}">Registrarse</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'ingresar' %}">Ingresar <span class="sr-only"></span></a>
            </li>
          </ul>
        </div>
    </nav>
</head>
<body>
    <br><br><br>
    <div>
      <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3" id="medio">
                <form action="{% url 'ingresar' %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label id="colorText" for="email" class="form-label">Email</label>
                        <input type="text" name="email" id="email" class="form-control" placeholder="Correo" autofocus>
                    </div>
                    <div class="mb-3">
                        <label id="colorText" for="contraseña" class="form-label">Contraseña</label>
                        <input type="password" name="contraseña" id="contraseña" class="form-control" placeholder="Contraseña" autofocus>
                    </div>
                    <div id="error"></div>
                    <div>
                        <br>
                        <input id="medio" class="btn btn-primary" type="submit" onclick="return enviarFormulario()" value="Ingresar">
                    </div>
                    <br><br>
                    <div>
                      <p id="colorText">¿No tiene una cuenta?</p>
                      <a href="{% url 'registrar' %}" id="btpre" class="btn btn-primary btn-block">Registrar cuenta</a>
                    </div>
                    
                </form>
            </div>
        </div>
      </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="{% static 'core/js/javascript.js' %}"></script>
</body>
</html>
