{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registrar</title>

    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="{% static 'core/img/rayo.png' %}" width="100px" height="50px" alt="" />
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'producto' 'ins' 1 %}">Producto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'nosotros' %}">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'registrar' %}">Ingresar</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'ingresar' %}">Ingresar <span class="sr-only"></span></a>
                  </li>
            </ul>
        </div>
    </nav>
</head>
<body>
    <div class="container mt-4">
        <form action="#" method="post">
            <div class="form-group">
                <label id="colorText" for="nombre">Nombre</label>
                <input
                    type="text"
                    class="form-control"
                    name="nombre"
                    id="nombre"
                    placeholder="Ingrese su nombre"
                    autofocus
                />
            </div>
            <div class="form-group">
                <label id="colorText" for="apellido">Apellido</label>
                <input
                    type="text"
                    class="form-control"
                    name="apellido"
                    id="apellido"
                    placeholder="Ingrese su apellido"
                    autofocus
                />
            </div>
            <div class="form-group">
                <label id="colorText" for="rut">Rut</label>
                <input
                    type="text"
                    class="form-control"
                    name="rut"
                    id="rut"
                    placeholder="Ingrese su rut"
                    autofocus
                />
            </div>
            <div class="form-group">
                <label id="colorText" for="direccion">Dirección</label>
                <input
                    type="text"
                    class="form-control"
                    name="direccion"
                    id="direccion"
                    placeholder="Ingrese su dirección"
                    autofocus
                />
            </div>
            <div class="form-group">
                <label id="colorText" for="email">Correo electrónico</label>
                <input
                    type="email"
                    class="form-control"
                    id="email"
                    placeholder="usuario@ejemplo.com"
                    autofocus
                />
            </div>
            <div class="form-group">
                <label id="colorText" for="contraseña">Contraseña</label>
                <input
                    type="password"
                    class="form-control"
                    name="password"
                    id="password"
                    placeholder="Ingrese su contraseña"
                    autofocus
                />
            </div>
            <div class="form-group">
                <label id="colorText" for="confirmar_contraseña">Confirme la contraseña</label>
                <input
                    type="password"
                    class="form-control"
                    name="confirmar_password"
                    id="confirmar_password"
                    placeholder="Confirme su contraseña"
                    autofocus
                />
            </div>
            <div class="form-group">
                <label style="color: white;" for="imagen">Imagen de perfil</label>
                <input style="color: white;" type="file" class="form-control-file" name="imagen" />
            </div>
            <div class="form-check">
                <label style="color: white;" for="suscripcion">Cuenta con suscripción</label>
                <br />
                <input
                    class="form-check-input"
                    type="radio"
                    name="suscripcion"
                    id="suscripcion_si"
                />
                <label style="color: white;" class="form-check-label" for="suscripcion_si"> Sí </label>
            </div>
            <div class="form-check">
                <input
                    class="form-check-input"
                    type="radio"
                    name="suscripcion"
                    id="suscripcion_no"
                    checked
                />
                <label style="color: white;" class="form-check-label" for="suscripcion_no"> No </label>
            </div>
            <div style="color: red;" id="error"></div>
            <input id="medio" class="btn btn-primary" type="submit" onclick="return registrar()" value="Registrarme">
        </form>
    </div>

    <script src="{% static 'core/js/registrar.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
